* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background-color: rgb(226, 204, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
